/.project
/.loadpath
/.powrc
/.rvmrc
/config/additional_environment.rb
/config/email.yml
/coverage
/db/*.db
/db/*.sqlite3
/files/*
/lib/redmine/scm/adapters/mercurial/redminehelper.pyc
/lib/redmine/scm/adapters/mercurial/redminehelper.pyo
/log/*.log*
/log/mongrel_debug
/public/dispatch.*
/public/themes/*
!/public/themes/alternate
!/public/themes/classic
!/public/themes/README
!/public/themes/circle
/tmp/*
/tmp/cache/*
/tmp/pdf/*
/tmp/sessions/*
/tmp/sockets/*
/tmp/test/*
/tmp/thumbnails/*
/vendor/cache
/vendor/rails
*.rbc

/.bundle

.DS_Store
.tags
.tags_sorted_by_file
/config/application.yml
